<article class="twitter-user">
    <header>
        <a href="{{include.twitter_user.url}}" target="_blank">
            {% if include.twitter_user.local_url %}
            {% capture avatar_url %}{{ include.twitter_user.local_url }}{% endcapture %}
            <img src="{{ avatar_url | relative_url }}" class="avatar" alt="{{ include.twitter_user.screen_name }}'s profile image" title="{{ include.twitter_user.screen_name }}'s profile image" />
            {% else %}  
            <img src="{{ "/assets/images/defaultAvatar.svg" | relative_url }}" alt="{{ include.twitter_user.screen_name }}'s profile image" title="{{ include.twitter_user.screen_name }}'s profile image" />
            {% endif %}
        </a>
        <section class="name">
            <a href="{{include.twitter_user.url}}" target="_blank">{{ include.twitter_user.screen_name }}</a>
            <a href="{{include.twitter_user.url}}" target="_blank" class="handle">@{{ include.twitter_user.username }}
                {% if include.mode == 'following' %}
                {% if include.twitter_user.follower %}
                <span class="follower">Follows you</span>
                {% endif %}
                {% endif %}
            </a>
        </section>
    </header>
    {% if include.twitter_user.description %}
    <p>{{ include.twitter_user.description }}</p>
    {% endif %}
</article>
