---
layout: compress
---
<html>
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{site.screen_name}}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{"/assets/css/screen.css" | relative_url }}" media="screen">
        <link rel="shortcut icon" href="{{"/assets/images/dead_parrot.ico" | relative_url }}" type="image/x-icon">
    </head>
    <body>
        <header>
            <a href="{{ "/" | relative_url }}" class="logo">
                <img src="{{ "/assets/images/dead_parrot.svg" | relative_url }}" alt="{{ site.title }} logo" title="{{ site.title }} logo" />
            </a>
            <a href="{{ "/" | relative_url }}" class="title">
                {{ site.title }}
            </a>
        </header>
        <main>
        {{ content }}
        </main>
        <footer>
            <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.<br/>
            This site generated and powered by <a target="_blank" href="https://github.com/alephnaughtpix/norwegianblue">Norwegian Blue</a>.</p>
        </footer>
    </body>
</html>