---
layout: compress
---
<html>
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{site.screen_name}}'s tweet.{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{"/assets/css/screen.css" | relative_url }}" media="screen">
        <link rel="shortcut icon" href="{{"/assets/images/favicon.ico" | relative_url }}" type="image/x-icon">
    </head>
    <body>
        <header>
            <a href="{{ "/" | relative_url }}" class="logo">
                {% include twitter_bird.html %}
            </a>
            <a href="{{ "/" | relative_url }}" class="title">
                {{ site.title }}
            </a>
        </header>
        <main>
        {{ content }}
        </main>
        <footer></footer>
    </body>
</html>